# UEP293 Final Project - Main .ipynb notebook

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn; seaborn.set()

In [2]:
np.linspace(0, 1, num=5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

### Reorganizing land use data

In [7]:
land_use = pd.read_csv('./land_use.csv')

In [8]:
land_use.town.unique()

array(['BOSTON', 'CAMBRIDGE', 'BROOKLINE', 'SOMERVILLE'], dtype=object)

In [9]:
land_use.lu05_desc.unique()

array(['Saltwater Sandy Beach', 'High Density Residential', 'Water',
       'Industrial', 'Commercial', 'Multi-Family Residential',
       'Urban Public/Institutional', 'Open Land', 'Transportation',
       'Forest', 'Brushland/Successional', 'Non-Forested Wetland',
       'Saltwater Wetland', 'Participation Recreation',
       'Medium Density Residential', 'Forested Wetland', 'Nursery',
       'Water-Based Recreation', 'Transitional', 'Marina',
       'Low Density Residential', 'Very Low Density Residential',
       'Spectator Recreation', 'Cemetery', 'Cropland', 'Waste Disposal',
       'Pasture', 'Mining', 'Junkyard', 'Golf Course', 'Orchard'],
      dtype=object)

In [10]:
land_use.lu05_desc.nunique()

31

In [11]:
land_use.loc[land_use['lu05_desc'].str.match('Saltwater Sandy Beach'), 'zonecode1'] = 'Natural'
land_use.loc[land_use['lu05_desc'].str.match('High Density Residential'), 'zonecode1'] = 'Residential'
land_use.loc[land_use['lu05_desc'].str.match('Water'), 'zonecode1'] = 'Natural'
land_use.loc[land_use['lu05_desc'].str.match('Multi-Family Residential'), 'zonecode1'] = 'Residential'
land_use.loc[land_use['lu05_desc'].str.match('Urban Public/Institutional'), 'zonecode1'] = 'Institutional'
land_use.loc[land_use['lu05_desc'].str.match('Forest'), 'zonecode1'] = 'Natural'
land_use.loc[land_use['lu05_desc'].str.match('Commercial'), 'zonecode1'] = 'Business/Commercial'
land_use.loc[land_use['lu05_desc'].str.match('Transportation'), 'zonecode1'] = 'Transportation'
land_use.loc[land_use['lu05_desc'].str.match('Industrial'), 'zonecode1'] = 'Industrial'
land_use.loc[land_use['lu05_desc'].str.match('Non-Forested Wetland'), 'zonecode1'] = 'Natural'
land_use.loc[land_use['lu05_desc'].str.match('Medium Density Residential'), 'zonecode1'] = 'Residential'
land_use.loc[land_use['lu05_desc'].str.match('Brushland/Successional'), 'zonecode1'] = 'Natural'
land_use.loc[land_use['lu05_desc'].str.match('Open Land'), 'zonecode1'] = 'Open Space'
land_use.loc[land_use['lu05_desc'].str.match('Saltwater Wetland'), 'zonecode1'] = 'Natural'
land_use.loc[land_use['lu05_desc'].str.match('Participation Recreation'), 'zonecode1'] = 'Recreation'
land_use.loc[land_use['lu05_desc'].str.match('Water-Based Recreation'), 'zonecode1'] = 'Recreation'
land_use.loc[land_use['lu05_desc'].str.match('Very Low Density Residential'), 'zonecode1'] = 'Residential'
land_use.loc[land_use['lu05_desc'].str.match('Transitional'), 'zonecode1'] = 'Other'
land_use.loc[land_use['lu05_desc'].str.match('Cropland'), 'zonecode1'] = 'Agriculture'
land_use.loc[land_use['lu05_desc'].str.match('Low Density Residential'), 'zonecode1'] = 'Residential'
land_use.loc[land_use['lu05_desc'].str.match('Forested Wetland'), 'zonecode1'] = 'Natural'
land_use.loc[land_use['lu05_desc'].str.match('Cemetery'), 'zonecode1'] = 'Public Services'
land_use.loc[land_use['lu05_desc'].str.match('Nursery'), 'zonecode1'] = 'Agriculture'
land_use.loc[land_use['lu05_desc'].str.match('Spectator Recreation'), 'zonecode1'] = 'Recreation'
land_use.loc[land_use['lu05_desc'].str.match('Golf Course'), 'zonecode1'] = 'Recreation'
land_use.loc[land_use['lu05_desc'].str.match('Marina'), 'zonecode1'] = 'Recreation'
land_use.loc[land_use['lu05_desc'].str.match('Waste Disposal'), 'zonecode1'] = 'Public Services'
land_use.loc[land_use['lu05_desc'].str.match('Junkyard'), 'zonecode1'] = 'Public Services'
land_use.loc[land_use['lu05_desc'].str.match('Pasture'), 'zonecode1'] = 'Agriculture'
land_use.loc[land_use['lu05_desc'].str.match('Mining'), 'zonecode1'] = 'Industrial'
land_use.loc[land_use['lu05_desc'].str.match('Orchard'), 'zonecode1'] = 'Agriculture'

In [97]:
land_use[:10]

,the_geom,lu05_desc,fid_landus,field_1,town,town_id,cartodb_id,lucode,area,len,area_ha,zonecode1
0,0106000020E61000002100000001030000000100000056...,Saltwater Sandy Beach,340249,6234,BOSTON,35,6234,25,2.193646e+05,11689.432986,10.725000,Natural
1,0106000020E61000000100000001030000001B000000FF...,High Density Residential,339767,6011,BOSTON,35,6011,11,5.653859e+05,19677.487474,56.538600,Residential
2,0106000020E61000000100000001030000000100000006...,High Density Residential,345627,9473,BOSTON,35,9473,11,1.206242e+03,135.671864,0.120624,Residential
3,0106000020E61000004E00000001030000000100000015...,Water,224166,9829,CAMBRIDGE,49,9829,20,2.802933e+06,71479.647221,1.109810,Natural
4,0106000020E61000000100000001030000000100000007...,High Density Residential,338675,5364,BOSTON,35,5364,11,6.821439e+02,103.626109,0.068214,Residential
5,0106000020E61000000100000001030000000100000005...,Industrial,352861,1333,BROOKLINE,46,1333,16,5.589531e+02,100.732090,0.055895,Industrial
6,0106000020E61000000100000001030000000100000007...,Commercial,332349,2252,BOSTON,35,2252,15,4.838131e+03,278.990756,0.483813,Business/Commercial
7,0106000020E6100000010000000103000000B100000034...,Multi-Family Residential,333610,2752,BOSTON,35,2752,10,1.912184e+06,72994.054821,191.218000,Residential
8,0106000020E61000000100000001030000000100000005...,High Density Residential,334149,3085,BOSTON,35,3085,11,8.065445e+02,116.992713,0.080654,Residential
9,0106000020E61000000100000001030000000100000005...,Industrial,336960,4447,BOSTON,35,4447,16,3.000502e+02,70.296414,0.030005,Industrial

In [98]:
land_use.zonecode1.unique()

array(['Natural', 'Residential', 'Industrial', 'Business/Commercial',
       'Institutional', 'Open Space', 'Transportation', 'Recreation',
       'Agriculture', 'Other', 'Public Services'], dtype=object)

In [99]:
land_use_visual = land_use.drop_duplicates(subset=['lu05_desc','zonecode1'], keep='first')

In [105]:
land_use_visual = land_use_visual[['lu05_desc','zonecode1']]
land_use_visual.sort_values(by=['zonecode1'])

                          lu05_desc            zonecode1
10913                       Orchard          Agriculture
999                         Pasture          Agriculture
485                        Cropland          Agriculture
141                         Nursery          Agriculture
6                        Commercial  Business/Commercial
1363                         Mining           Industrial
5                        Industrial           Industrial
10       Urban Public/Institutional        Institutional
76                Saltwater Wetland              Natural
73             Non-Forested Wetland              Natural
0             Saltwater Sandy Beach              Natural
22                           Forest              Natural
3                             Water              Natural
23           Brushland/Successional              Natural
132                Forested Wetland              Natural
20                        Open Land           Open Space
158                    Transitional                Other
381                        Cemetery      Public Services
977                  Waste Disposal      Public Services
2422                       Junkyard      Public Services
3182                    Golf Course           Recreation
147          Water-Based Recreation           Recreation
168                          Marina           Recreation
81         Participation Recreation           Recreation
262            Spectator Recreation           Recreation
218    Very Low Density Residential          Residential
7          Multi-Family Residential          Residential
1          High Density Residential          Residential
102      Medium Density Residential          Residential
190         Low Density Residential          Residential
21                   Transportation       Transportation

In [103]:
land_use_visual.zonecode1.nunique()

11

In [102]:
land_use_visual.lu05_desc.nunique()

31

In [10]:
land_use.cartodb_id.nunique()

11619

In [11]:
land_use.to_csv("Corrected Land Use.csv")

In [12]:
land_use_bos = land_use[land_use['town'].str.match('BOSTON')]

In [13]:
land_use_bos1 = land_use_bos.loc[(land_use_bos['lucode'] > 0) & (land_use_bos['lucode'] < 6)]

In [14]:
#just checking
land_use_bos1.lucode.unique()

array([4, 3, 1, 5, 2])

In [15]:
land_use_bos1.to_csv("land_use_bos1.csv")

## Boston

### Constructing Dorchester, Boston

In [16]:
dorch = pd.read_csv('./dorchester.csv')

In [17]:
dorch2 = dorch.sum(axis=0)

In [18]:
dorch2

the_geom       0106000020E6100000010000000103000000010000005A...
mpop55_59                                                   2830
geoid10_tr                                          725727731907
fid_1                                                      28136
statefp10                                                    725
countyfp10                                                   725
tractce10                                                2731907
geoid10                                             725727731907
name10                                                   27319.1
namelsadten    Census Tract 911Census Tract 914Census Tract 9...
mtfcc10        G5020G5020G5020G5020G5020G5020G5020G5020G5020G...
aland10                                                 18861928
awater10                                                 1523171
intptlat10                                               1226.72
intptlon10                                              -2060.94
area_sqft                                            2.03168e+08
area_acres                                               4664.09
pop100_re                                                 114249
hu100_re                                                   45140
logpl94171                                               5083499
logsf1                                                   4300209
logacs0610                                                114747
logsf1c                                                  4300209
shape_area                                            1.8875e+07
shape_len                                                 113458
logrecno                                                 4300209
pop_total                                                 114249
med_age_t                                                  935.3
pop_male                                                   53874
med_age_m                                                  886.7
                                     ...
fpop22_24                                                   3352
fpop25_29                                                   5036
fpop30_34                                                   4517
fpop35_39                                                   4295
fpop40_44                                                   4169
fpop45_49                                                   3992
fpop50_54                                                   4023
fpop55_59                                                   3418
fpop60_61                                                   1229
fpop62_64                                                   1587
fpop65_66                                                    928
fpop67_69                                                   1149
fpop70_74                                                   1464
fpop75_79                                                   1140
fpop80_84                                                    917
fpop_gt85                                                    864
area_ha                                                  1701.54
area_p                                                   32.7575
area_ind                                                 94.4648
area_trans                                               81.6529
area_res                                                 1024.75
area_inst                                                205.905
area_rec                                                 103.887
area_com                                                 224.092
area_nat                                                  67.713
area_os                                                  34.7949
area_ag                                                 0.598303
area_other                                               12.7459
ludi                                                     6.93954
n_hood                                                       435
Length: 122, dtype: object

In [19]:
dorch2 = dorch2.reset_index()

In [20]:
dorch3 = dorch2.set_index('index').T

In [21]:
dorch4 = dorch3[['area_p','area_ind','area_trans','area_res','area_inst','area_rec','area_com','area_nat','area_os','area_ag','area_other']]

In [22]:
dorch4

index,area_p,area_ind,area_trans,area_res,area_inst,area_rec,area_com,area_nat,area_os,area_ag,area_other
0,32.7575,94.4648,81.6529,1024.75,205.905,103.887,224.092,67.713,34.7949,0.598303,12.7459

## Merging all neighborhood LUDI data together

In [23]:
bos1 = pd.read_csv('./boston_neighborhoods_1stpart.csv')
bos2 = pd.read_csv('./boston_neighborhoods_2ndpart.csv')
bos3 = pd.read_csv('./boston_neighborhoods_3rdpart.csv')
bos4 = pd.read_csv('./boston_neighborhoods_4thpart.csv')
bos5 = pd.read_csv('./boston_neighborhoods_5thpart.csv')

In [24]:
bos1 = bos1[['cartodb_id','name','the_geom','area_ha','acres','area_p','area_ind','area_trans','area_res','area_inst','area_rec','area_com','area_nat','area_os','area_ag','area_other','ludi']]
bos2 = bos2[['cartodb_id','name','the_geom','area_ha','acres','area_p','area_ind','area_trans','area_res','area_inst','area_rec','area_com','area_nat','area_os','area_ag','area_other','ludi']]
bos3 = bos3[['cartodb_id','name','the_geom','area_ha','acres','area_p','area_ind','area_trans','area_res','area_inst','area_rec','area_com','area_nat','area_os','area_ag','area_other','ludi']]
bos4 = bos4[['cartodb_id','name','the_geom','area_ha','acres','area_p','area_ind','area_trans','area_res','area_inst','area_rec','area_com','area_nat','area_os','area_ag','area_other','ludi']]
bos5 = bos5[['cartodb_id','name','the_geom','area_ha','acres','area_p','area_ind','area_trans','area_res','area_inst','area_rec','area_com','area_nat','area_os','area_ag','area_other','ludi']]

In [25]:
bos_a = bos1.append(bos2, ignore_index=True)
bos_b = bos_a.append(bos3, ignore_index=True)
bos_c = bos_b.append(bos4, ignore_index=True)
bos_d = bos_c.append(bos5, ignore_index=True)

In [26]:
bos_d = bos_d.drop(['cartodb_id'], axis=1)

In [27]:
bos_d

,name,the_geom,area_ha,acres,area_p,area_ind,area_trans,area_res,area_inst,area_rec,area_com,area_nat,area_os,area_ag,area_other,ludi
0,Roslindale,0106000020E6100000030000000103000000010000005E...,649.738269,1605.568237,73.534192,4.115455,7.917611,434.770612,25.203288,9.386893,45.201332,47.110380,1.170215,1.147789,0.237655,0.219139
1,Jamaica Plain,0106000020E6100000010000000103000000010000006C...,1019.483385,2519.245394,83.870597,18.714994,27.936480,432.981867,116.546847,55.276195,49.245112,203.563294,21.427809,8.925866,1.082124,0.462964
2,Roxbury,0106000020E610000001000000010300000001000000D0...,853.251213,2108.469072,0.000000,29.408070,12.955369,310.894126,155.991351,127.643285,94.215060,104.628974,8.739228,5.289427,3.559445,0.547399
3,Leather District,0106000020E61000000100000001030000000100000032...,6.329128,15.639908,0.000000,0.693605,0.748450,0.000000,0.000000,0.000000,4.887598,0.000000,0.000000,0.000000,0.000000,0.173280
4,Bay Village,0106000020E6100000010000000103000000010000006E...,10.740091,26.539839,0.000000,0.003580,1.565270,4.695918,1.717660,0.000000,2.758558,0.000000,0.000000,0.000000,0.000000,0.467105
5,South End,0106000020E610000001000000010300000001000000D0...,190.820022,471.535356,0.000000,9.646589,11.978935,74.623179,32.799403,7.800467,53.987473,0.000000,0.000000,0.000000,0.000000,0.460463
6,Mission Hill,0106000020E61000000100000001030000000100000005...,141.982746,350.853564,0.000000,6.828215,3.899144,75.206051,27.320442,6.160203,14.070264,7.736790,0.762512,0.000000,0.011185,0.407397
7,Longwood,0106000020E610000001000000010300000001000000B4...,76.327120,188.611947,0.000000,0.000000,0.475476,0.806033,64.904008,0.000000,1.890187,7.703165,0.000000,0.000000,0.554677,0.075201
8,Chinatown,0106000020E610000001000000010300000001000000C3...,30.886816,76.324410,0.000000,1.468285,11.333848,1.345891,3.742283,1.454297,11.544784,0.000000,0.000000,0.000000,0.000000,0.382882
9,North End,0106000020E610000001000000010300000001000000A6...,51.357873,126.910439,0.000000,0.230523,2.368385,27.181112,6.724687,3.780790,9.692811,0.077198,0.000000,0.000000,0.215122,0.378991
10,Back Bay,0106000020E61000000100000001030000000100000091...,161.593789,399.314411,0.000000,0.299585,1.748944,52.196890,30.035407,1.393769,72.255368,3.677210,0.000000,0.000000,0.000000,0.347638
11,East Boston,0106000020E610000001000000010300000001000000DF...,1218.914489,3012.059593,3.434474,49.550014,651.728194,230.969976,36.083259,68.745263,55.938693,75.605020,21.510224,0.212075,20.415241,0.382944
12,Charlestown,0106000020E610000002000000010300000001000000FB...,352.693627,871.541223,2.888791,41.823352,85.860277,79.711315,50.286930,27.260002,44.583264,1.993115,9.114726,0.000000,1.444602,0.669716
13,West End,0106000020E610000003000000010300000001000000E9...,77.087424,190.490732,0.000000,1.697791,21.980814,0.000040,15.642948,5.668888,29.934605,0.067810,0.000000,0.000000,1.502825,0.387903
14,Beacon Hill,0106000020E610000001000000010300000001000000A4...,80.999111,200.156904,0.765527,0.000000,1.669111,25.088601,35.697647,5.451407,10.192903,2.140658,0.000000,0.000000,0.000000,0.353404
15,Downtown,0106000020E610000001000000010300000001000000B0...,160.848548,397.472846,0.804075,1.474938,26.793502,2.418130,19.982212,2.315517,102.708036,0.027411,0.000000,0.000000,1.504910,0.305898
16,Fenway,0106000020E610000001000000010300000001000000A0...,226.870002,560.618461,0.000000,1.918990,19.386825,48.780041,78.451524,11.477888,53.982243,9.857252,0.000000,3.034286,0.000000,0.503153
17,Brighton,0106000020E610000001000000010300000001000000FB...,744.773015,1840.408596,10.021232,23.815939,35.213845,366.778091,100.422262,42.534563,92.233439,70.719051,3.021694,0.000000,0.000000,0.466597
18,West Roxbury,0106000020E6100000010000000103000000010000007D...,1423.018812,3516.421786,113.633840,34.597375,7.655339,698.791208,57.640116,42.277167,84.649145,358.024645,24.387199,0.002808,1.240465,0.342451
19,Hyde Park,0106000020E6100000010000000103000000010000004C...,1184.582238,2927.221168,25.942246,71.285781,42.916745,588.542051,27.711650,66.022839,63.092363,279.056363,0.000000,0.298091,3.176246,0.364345
20,Allston,0106000020E610000001000000010300000001000000F5...,404.085014,998.534479,0.000000,12.638032,72.242321,103.893131,88.249843,47.477861,69.263464,3.419237,6.934928,0.000000,0.000000,0.638753
21,Harbor Islands,0106000020E61000000B00000001030000000100000002...,333.814357,824.888658,75.709886,0.000000,0.000000,0.109784,41.831164,1.998432,0.000000,150.125736,62.666525,0.703628,0.161240,0.392863
22,South Boston,0106000020E61000000100000001030000000200000063...,582.691436,1439.888807,0.000000,77.164566,122.729766,192.913940,36.215814,55.097845,72.858282,14.320146,4.536389,5.301929,0.000000,0.586116
23,South Boston Waterfront,0106000020E61000000100000001030000000100000007...,251.646442,621.843524,0.000000,56.752777,114.999658,0.000082,23.794711,2.931091,36.731528,0.734002,6.190859,0.000000,6.709891,0.451266
24,Mattapan,0106000020E6100000010000000103000000010000005F...,547.164564,1352.098354,28.260327,8.258260,10.418052,283.960276,59.312472,12.948246,38.837820,84.231054,15.966120,0.001863,0.621939,0.426511
25,Dorchester,0106000020E6100000010000000103000000010000001C...,1886.965099,4662.879457,32.757500,94.464800,81.652900,1024.750000,205.905000,103.887000,224.092000,67.713000,34.794900,0.598303,12.745900,0.399393

In [28]:
bos_d.to_csv("Greater Boston Neighborhoods.csv")

# LUDI Summary Statistics

In [95]:
bos_nbhd = pd.read_csv('./boston_neighborhoods.csv')
bos_nbhd['town'] = 'BOSTON'

In [96]:
cam_nbhd = pd.read_csv('./cambridge_neighborhoods.csv')
cam_nbhd['town'] = 'CAMBRIDGE'

In [97]:
somv_nbhd = pd.read_csv('./somerville_neighborhoods.csv')
somv_nbhd['town'] = 'SOMERVILLE'

In [98]:
somv_nbhd.rename(columns={'nbhd':'name'}, inplace=True)

In [99]:
brook_nbhd = pd.read_csv('./towns_brookline.csv')
brook_nbhd['town'] = 'BROOKLINE'

In [100]:
nbhd = bos_nbhd.append([cam_nbhd,somv_nbhd,brook_nbhd], sort=True)

In [101]:
nbhd = nbhd[['name','town','area_ha','ludi']]

In [118]:
nbhd.head()

            name    town      area_ha      ludi
0     Roslindale  BOSTON   649.738269  0.219139
1  Jamaica Plain  BOSTON  1019.483385  0.462964
2        Roxbury  BOSTON   853.251213  0.547399
3       Back Bay  BOSTON   161.593789  0.347638
4      South End  BOSTON   190.820022  0.460463

In [103]:
#confirm number of neighborhoods
nbhd.name.nunique()

59

In [121]:
bos_nbhd.describe()

,area_res,field_1,area_ha,acres,area_p,area_ind,area_trans,cartodb_id,area_inst,area_rec,area_com,area_nat,area_os,area_ag,area_other,ludi
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,194.669552,12.500000,487.256332,1204.059122,17.370103,21.032751,53.006741,13.500000,51.623574,27.268843,51.494090,57.405058,8.508589,0.981387,2.122441,0.407453
std,261.782559,7.648529,503.166264,1243.374156,32.191897,27.754952,127.339143,7.648529,48.854911,34.702394,47.079212,93.887289,14.566407,2.211150,4.647754,0.130298
min,0.000000,0.000000,6.329128,15.639908,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.075201
25%,2.987577,6.250000,96.245020,237.831069,0.000000,0.887275,2.751075,7.250000,24.146855,2.469410,12.176154,0.241399,0.000000,0.000000,0.000000,0.356139
50%,74.914615,12.500000,292.730400,723.366091,0.000000,7.543238,12.467152,13.500000,35.890453,8.593680,47.223222,7.719977,0.966363,0.000000,0.226388,0.396128
75%,304.160663,18.750000,721.014328,1781.698507,21.961993,33.300049,40.991020,19.750000,63.506124,46.242036,71.507392,74.383528,9.020851,0.523250,1.488269,0.465689
max,1024.750000,25.000000,1886.965099,4662.879457,113.633840,94.464800,651.728194,26.000000,205.905000,127.643285,224.092000,358.024645,62.666525,8.925866,20.415241,0.669716

In [ ]:
bos

#### [loop instructions](https://stackoverflow.com/questions/43754309/how-to-loop-over-multiple-dataframes-and-produce-multiple-csv)

In [114]:
cam_nbhd.describe()

,area_p,area_ha,field_1,shape_area,shape_len,n_hood,objectid,ludi,cartodb_id,area_ind,area_trans,area_res,area_inst,area_rec,area_com,area_nat,area_os,area_ag,area_other
count,13.000000,13.000000,13.00000,1.300000e+01,13.000000,13.00000,13.00000,13.000000,13.00000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,3.062746,142.026992,7.00000,1.528766e+07,18382.545864,7.00000,7.00000,0.414616,7.00000,10.603950,3.599861,51.624130,24.545234,8.198050,18.491577,19.450068,1.313761,0.121301,0.760814
std,9.446726,73.192350,3.89444,7.878359e+06,6581.682184,3.89444,3.89444,0.163690,3.89444,12.461100,6.931847,39.956337,18.932367,7.510777,13.283017,22.449205,3.272458,0.437357,1.351739
min,0.000000,61.351196,1.00000,6.603788e+06,11764.823149,1.00000,1.00000,0.149597,1.00000,0.000000,0.000000,1.201526,1.272069,0.000000,1.092067,0.000000,0.000000,0.000000,0.000000
25%,0.000000,77.538790,4.00000,8.346206e+06,13959.038648,4.00000,4.00000,0.303730,4.00000,1.264084,0.559331,29.643407,11.304482,2.980874,10.993595,1.153188,0.000000,0.000000,0.000000
50%,0.000000,137.260698,7.00000,1.477462e+07,16042.432977,7.00000,7.00000,0.414477,7.00000,3.554487,1.020755,36.032087,21.453270,4.880210,14.152450,9.818928,0.000000,0.000000,0.000000
75%,0.163900,165.082909,10.00000,1.776938e+07,20119.314902,10.00000,10.00000,0.535599,10.00000,23.429590,2.122508,69.401984,35.747893,12.680619,27.870465,26.535721,1.195170,0.000000,0.579319
max,34.314431,318.759312,13.00000,3.431097e+07,33781.349398,13.00000,13.00000,0.743168,13.00000,34.956105,23.685535,145.910786,64.263414,25.876609,46.577100,71.308421,11.950147,1.576913,3.354078

In [115]:
somv_nbhd.describe()

,area_trans,objectid,nbhd_id,area_ha,max_issue_den,area_p,area_ind,cartodb_id,area_res,area_inst,area_rec,area_com,area_nat,area_os,area_ag,area_other,ludi
count,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.0,19.000000,19.000000
mean,4.343607,10.000000,10.000000,56.299970,7.551920,0.166920,6.453309,10.000000,30.721234,4.540209,2.188611,6.880994,0.356462,0.589705,0.0,0.062080,0.219962
std,6.029816,5.627314,5.627314,42.918602,5.094446,0.497424,11.308013,5.627314,31.698413,4.686355,3.028049,9.050204,0.764303,2.153878,0.0,0.176218,0.091471
min,0.000000,1.000000,1.000000,7.016036,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.013547
25%,0.414986,5.500000,5.500000,18.469381,2.907943,0.000000,0.000000,5.500000,0.339659,0.755626,0.073163,0.064749,0.000000,0.000000,0.0,0.000000,0.163741
50%,1.545441,10.000000,10.000000,40.039371,7.930269,0.000000,1.582699,10.000000,30.675750,3.256110,0.753085,1.566918,0.081043,0.000000,0.0,0.000000,0.247529
75%,6.284179,14.500000,14.500000,81.665965,12.045016,0.000000,8.441460,14.500000,55.098613,6.578525,2.938232,11.815527,0.239916,0.000000,0.0,0.000000,0.266060
max,24.318539,19.000000,19.000000,137.698198,14.592789,1.681770,39.676003,19.000000,87.043991,14.856735,10.626221,26.302771,3.230480,9.299731,0.0,0.726305,0.382662

In [120]:
nbhd.describe()

           area_ha       ludi
count    59.000000  59.000000
mean    291.143696   0.346836
std     424.629077   0.153120
min       6.329128   0.013547
25%      57.159757   0.252710
50%     129.899111   0.342625
75%     285.202877   0.453585
max    1886.965099   0.743168

# Walkability polygons

In [79]:
merge_5 = pd.read_csv('./merged_5_min.csv')
merge_10 = pd.read_csv('./merged_10_min.csv')
merge_15 = pd.read_csv('./merged_15_min.csv')

In [80]:
merge_5['name2'] = merge_5.apply(lambda x: f"{x['name']}{x['n_hood']}", axis=1)
merge_10['name2'] = merge_10.apply(lambda x: f"{x['name']}{x['n_hood']}", axis=1)
merge_15['name2'] = merge_15.apply(lambda x: f"{x['name']}{x['n_hood']}", axis=1)

In [81]:
merge_5 = merge_5.drop(['name'], axis=1)
merge_10 = merge_10.drop(['name'], axis=1)
merge_15 = merge_15.drop(['name'], axis=1)

In [82]:
merge_5.rename(columns={'name2':'name'}, inplace=True)
merge_10.rename(columns={'name2':'name'}, inplace=True)
merge_15.rename(columns={'name2':'name'}, inplace=True)

In [83]:
merge_5.to_csv("merge_5.csv")
merge_10.to_csv("merge_10.csv")
merge_15.to_csv("merge_15.csv")

### merging all walkability polygons

In [2]:
merge_10_1 = pd.read_csv('./merge_10_1.csv')
merge_10_2 = pd.read_csv('./merge_10_2.csv')
merge_15_1 = pd.read_csv('./merge_15_1.csv')
merge_15_2 = pd.read_csv('./merge_15_2.csv')
merge_15_3 = pd.read_csv('./merge_15_3.csv')
merge_15_4 = pd.read_csv('./merge_15_4.csv')

In [3]:
merge_10_final = merge_10_1.append(merge_10_2, ignore_index=True)

In [4]:
merge_15_a = merge_15_1.append(merge_15_2, ignore_index=True)
merge_15_b = merge_15_a.append(merge_15_3, ignore_index=True)
merge_15_final = merge_15_b.append(merge_15_4, ignore_index=True)

In [5]:
merge_10_final.cartodb_id.nunique()

252

In [6]:
merge_15_final.cartodb_id.nunique()

252

In [7]:
merge_10_final.to_csv("merge_10_final.csv")
merge_15_final.to_csv("merge_15_final.csv")